<%= form_for @record do |f| %>
    <div class="form-group <%= 'has-error' if @record.errors[:first_name].present? %>">
      <label class="control-label" for="first_name">Nombres:</label>
      <%= f.text_field :first_name, class: 'form-control', placeholder: 'Nombre', required: true %>
    </div>

    <div class="form-group <%= 'has-error' if @record.errors[:last_name].present? %>">
      <label class="control-label" for="last_name">Apellidos:</label>
      <%= f.text_field :last_name, class: 'form-control', placeholder: 'Apellido', required: true %>
    </div>

    <div class="form-group <%= 'has-error' if @record.errors[:id_number].present? %>">
      <label class="control-label" for="id_number">Cédula:</label>
      <%= f.text_field :id_number, class: 'form-control', placeholder: 'Cédula', required: true %>
    </div>

    <div class="form-group <%= 'has-error' if @record.errors[:phone].present? %>">
      <label class="control-label" for="phone">Teléfono:</label>
      <%= f.text_field :phone, class: 'form-control', placeholder: 'Teléfono' %>
    </div>

    <div class="form-group <%= 'has-error' if @record.errors[:email].present? %>">
      <label class="control-label" for="email">Correo Electrónico:</label>
      <%= f.text_field :email, class: 'form-control', placeholder: 'Correo Electrónico' %>
    </div>

    <div class="form-group <%= 'has-error' if @record.errors[:age].present? %> has-feedback">
      <label class="control-label" for="age">Edad:</label>
      <%= f.text_field :age, class: 'form-control', placeholder: 'Edad' %>
    </div>

    <div class="form-group <%= 'has-error' if @record.errors[:gender].present? %>">
      <label class="control-label" for="gender">Género:</label>
      <%= f.collection_select(:gender_id, Gender.all, :id, :name, {:prompt => '-- Seleccionar --'},
                              { :class => 'dropdown-toggle', required: true })%>
    </div>

    <div class="botones-a-la-derecha">
      <%= f.submit "Guardar", class: 'btn btn-primary'%>
      <%= link_to 'Cancelar', pacients_path, class: 'btn btn-danger' %>
    </div>
<% end %>